body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 35px;
}
a{
    text-decoration: none;
    color: cornsilk;
}
nav{
    background-color: rgb(190, 209, 245);
    width: 100%;
    display: flex;

}
.navbar{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
   padding: 6px;
   width: 85%;
   
}
.logo{
    display: flex;
    justify-self: center;
    width: 10%;
    margin: 0 2%;
    padding: 0% 2%;
    font-size: 15px;
    font-weight: 900;

}
.navbar li{
    list-style: none;
    margin: 2px 20px;
    padding: 6px 8px;
    width: 70px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
    font-family: monospace, sans-serif;
    border: 1px solid none;
    background-color:rgb(62, 89, 243); 
    color: cornsilk;
}
.container{
    display: flex;
    margin:5% 2%;
}
.text-content{
    width: 50%;
    padding:5% 4%;
}
.img-content{
    width: 50%;
    padding:2% 2%;
}
.img-content img{
    width: 90%;
}
.button {
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(94, 104, 248), rgb(14, 4, 70));
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius:25px ;
    margin: 10px 0;
    display: inline-block;
}
.about{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.recipie-content{
   margin: 0 2%;
   padding:0 3% ;
}
.recipie-main-content{
    display: flex;
}
.card{
    width: 30%;
    margin: 2%;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 10px 10px 20px grey;
    overflow: hidden;
}
.card img{
    width: 100%;
}
.recipie-top-content{
    text-align: center;
    padding: 10px;
}

.f-color{
    color: tomato;
}
.h-color{
    color: rgb(8, 195, 241);
}

.counter{
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 20px grey;
    width: 90%;
    margin:3% auto;
}
.cout-item{
    padding:2% 3%;
    margin:2% 5%;
    text-align: center;
}
.contact-us {
    margin: 2% auto;
   
}
.contact-form{
    width: 40%;
    margin: 2% auto;
    padding: 20px;
}
input[type=text] ,input[type=email] ,textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-image: linear-gradient( rgb(132, 140, 253), rgb(31, 9, 160));
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
  } 
  .contact-text{
      text-align: center;
  }
  .contact-section{
        background-image: url(images/shapes/Frame\ 57.jpg);
        background-repeat: no-repeat;
  }
    footer{
    padding: 2% 0;
    margin-top: 5%;
    background-color: rgb(74, 68, 153);
    text-align: center;
    color: rgb(216, 211, 248);
}